/* Borrowed from, and based on "starbuzz.css", from Head First HTML. */
body { 
  background-color: #b5a789;
  font-family:      Georgia, "Times New Roman", Times, serif;
  font-size:        100%;
  margin:           0px;
}

#header {
  background-color: #675c47;
  margin:           10px;
  height:           108px;
}

#main {
  /* background:       #efe5d0 url(images/background.gif) top left; */
  font-size:        105%;
  padding:          15px;
  margin:           0px 330px 10px 10px;
}

#sidebar {
  /* background:       #efe5d0 url(images/background.gif) bottom right; */
  font-size:        105%;
  padding:          15px;
  margin:           0px 10px 10px 10px;
  position:         absolute;
  top:              128px;
  right:            0px;
  width:            280px;
}

#footer {
  background-color: #675c47;
  color:            #efe5d0;
  text-align:       center;
  padding:          15px;
  margin:           10px 330px 10px 10px;
  font-size:        90%;
}

h1 {
  font-size:        120%;
  color:            #954b4b;
}

h2 {
  color:            #954b4b;
  font-size: 110%; 
  }

.slogan { color: #954b4b; }

.beanheading {
  text-align:       center;
  line-height:      1.8em;
}

.beanheading img {
  position:         relative;
  left:             120px;
}

a:link {
  color:            #b76666;
  text-decoration:  none;
  border-bottom:    thin dotted #b76666;
}
a:visited {
  color:            #675c47;
  text-decoration:  none;
  border-bottom:    thin dotted #675c47;
}

#award {
  position:         absolute;
  top:              30px;
  left:             365px;
  z-index:          99;
}

#coupon {
  position:         fixed;
  top:              300px;
  left:             -90px;
}

#coupon img {
  border:           none;
}

#coupon a:link {
  border:           none;
}

#coupon a:visited {
  border:           none;
}

li {
    font-size: 80%
}

.notice {
    font-size: 80%;
    color: purple;
    padding: 15px;
    border: 1px solid black;
}
