<!DOCTYPE html>
<html>
	<head>
        <title>{{ the_title }}</title>
        <link type="text/css" rel="stylesheet" href="/static/stylesheets/firstndb.css" />
        <link type="text/css" rel="stylesheet" href="/static/stylesheets/styledform.css" />
    </head>
	<body>
		<nav>
		  <a href="/index/index">Home</a> |
		  <a href="/about/about">About</a> |
		  <a href="/js/">JavaScript</a> |
		  <a href="/jquery/">jQuery</a>
		</nav> 
		 {% block the_block %}

		 {% endblock %}
		 <hr/>
		 UXLearner ITCarlow.
	</body>
</html>